In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# This line is often used to display plots directly in the notebook
%matplotlib inline

In [3]:
from scipy.stats import zscore
import plotly.express as px

In [8]:
import datetime

In [10]:
benin = pd.read_csv("../data/benin_raw.csv", parse_dates=['Timestamp'], encoding='ISO-8859-1', low_memory=False)
benin.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16704\124227186.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  benin = pd.read_csv("../data/benin_raw.csv", parse_dates=['Timestamp'], encoding='ISO-8859-1', low_memory=False)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,yyyy-mm-dd hh:mm,W/m²,W/m²,W/m²,W/m²,W/m²,°C,%,m/s,m/s,m/s,°N (to east),°,hPa,1 or 0,mm/min,°C,°C,NaN
1,2021-08-09 00:01,-1.2,-0.2,-1.1,0,0,26.2,93.4,0,0.4,0.1,122.1,0,998,0,0,26.3,26.2,NaN
2,2021-08-09 00:02,-1.1,-0.2,-1.1,0,0,26.2,93.6,0,0,0,0,0,998,0,0,26.3,26.2,NaN
3,2021-08-09 00:03,-1.1,-0.2,-1.1,0,0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0,26.4,26.2,NaN
4,2021-08-09 00:04,-1.1,-0.1,-1,0,0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0,26.4,26.3,NaN

In [11]:
benin.shape

(525601, 19)

In [12]:
benin.describe()

       Comments
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [13]:
benin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525601 entries, 0 to 525600
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525601 non-null  object
 1   GHI            525601 non-null  object
 2   DNI            525601 non-null  object
 3   DHI            525601 non-null  object
 4   ModA           525601 non-null  object
 5   ModB           525601 non-null  object
 6   Tamb           525601 non-null  object
 7   RH             525601 non-null  object
 8   WS             525601 non-null  object
 9   WSgust         525601 non-null  object
 10  WSstdev        525601 non-null  object
 11  WD             525601 non-null  object
 12  WDstdev        525601 non-null  object
 13  BP             525601 non-null  object
 14  Cleaning       525601 non-null  object
 15  Precipitation  525601 non-null  object
 16  TModA          525601 non-null  object
 17  TModB          525601 non-null  object
 18  Comments       0 non-null       float64
dtypes: float64(1), object(18)
memory usage: 76.2+ MB

In [14]:
# Count how many missing values in each column
missing = benin.isna().sum()

# Show only columns that actually have missing values
missing[missing > 0].sort_values(ascending=False)

Comments    525601
dtype: int64

In [15]:
benin.drop(columns=['Comments'], inplace=True)

In [16]:
benin.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB'],
      dtype='object')